<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>6a3d20782bmsh74bb0e39633d701p1e82f2jsnf2647fda28bd</string>
	<key>API_HOST</key>
	<string>ms-finance.p.rapidapi.com</string>
</dict>
</plist>
